<footer>
  <div style="display:flex">
    {% if config.extra.social %}
    {% for social in config.extra.social %}
    <a class="soc" href={{ social.url }} title={{ social.name }}>
      <i data-feather={{ social.icon }}></i>
    </a>
    {% endfor %}
    {% endif %}
  </div>
  <div class="footer-info">
    {{ now() | date(format="%Y") }} © {{ config.extra.copyright }}
  </div>
</footer>

{% if config.extra.social or config.extra.mode == 'toggle' %}
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace();
</script>
{% endif %}

{% if config.extra.mode == 'toggle' %}
<script src="/js/themetoggle.js"></script>
{% endif %}
